<div class="container">
    <div class="col-sm-12 col-md-8 col-lg-7 mx-auto">
      <div class="card card-signup my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Registration Forms for Health Workers</h5>
          <form class="form-signin">              
            <div class="top-row"> 
              <div class="form-label-group">
                <input type="text" id="inputFirst" class="form-control" placeholder="First Name" required >
              </div>

              <div class="form-label-group">
                <input type="text" id="inputLast" class="form-control" placeholder="Last Name" required >
                
              </div>
          </div>
          
            <div class="form-label-group">
              <input type="email" id="inputLast" class="form-control" placeholder="Email" required >
              
            </div>
            <div style="clear:both;"></div>

            <div class="top-row">
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                
              </div>
              <div class="form-label-group">
                <input type="password" id="inputConPassword" class="form-control" placeholder="Confirm" required>
                
              </div>
            </div>
          <div>
            <p>Use 8 or more characters with mix of<br>
              letters, numbers & Symbols</p>
          </div>
          <div id="hero"> 
            <a  class="btn-get-started" href="#">Sign in instead</a>

          <a class="btn-get-started_1" href="#">Register</a>
         </div>
        </form>
        </div>
      </div>
    </div>
</div>